

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: none;
  font-family: 'Poppins', sans-serif;
}


:root{
  --bg-colour:#081b29;
  --second-bg-colour:#112e42;
  --text-colour:#ededed;
  --main-colour:#00abf0;

}
 html{ 
  font-size:62.5% ;
  overflow-x: hidden;
}
body{
 background-color: var(--bg-colour); 
 color: var(--text-colour);
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
   /* justify-content: space-between;   */
  align-items: center;
  z-index: 100; 
  gap: 80rem 
} 
.logo{
    font-size: 2.5rem;
    color: var(--text-colour);
    font-weight: 600;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-colour);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-colour);
}
#icon-menu{
  font-size: 3.6rem;
  color: var(--text-colour);
  cursor: pointer;
  display: none;
}
section{
   min-height: 100vh;
   padding:10rem 9% 2rem ;
}
.home{
  display: flex;
  align-items: center;
  padding: 0 9%;
  /* background: url('/home.jpg') no-repeat;
  background-size: cover;
  background-position: center; */
}
.home-contant{
  max-width: 60rem ;
}
.home-contant h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-contant .text-animate{
  position: relative;
  width: 32.8rem;
}
.home-contant .text-animate h3{
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-colour);
}
.home-contant p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.btn-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.btn-box .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-colour);
  border: .2rem solid var(--main-colour);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600 ;
  letter-spacing: .1rem;
  color: var(--bg-colour);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .btn:hover{
  color: var(--main-colour);
}
.btn-box .btn:nth-child(2){
  background: transparent;
  color: var(--main-colour);
}
.btn-box .btn:nth-child(2):hover{
  color: var(--bg-colour);
}
.btn-box .btn:nth-child(2)::before{
  background: var(--main-colour);
}
.btn-box .btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-colour);
  z-index: -1;
  transition: .5s;
}
.btn-box .btn:hover:before{
  width: 100%;
}
.home-sci{
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-colour);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-colour);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
 .home-sci a:hover{
  color: var(--bg-colour);

}
/* .home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: red;
  z-index: -1;
  transition: .5s;
}
.home-sci a :hover::before {
  width: 100%;
}   */
.homeimdhover {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 0%;
  right: 0%;
  width: 40%;
  height: 100%;
  /* background-image: url(/home.jpeg); */
  
  
  transition: 3s;
}
/* .homeimdhover:hover{
  background: var(--second-bg-colour);
  opacity: .8;
} */
.homeimdhover img{
  
  border-radius: 30%;
  border: .2rem solid var(--main-colour);
  
  /* height: 100%; */
  width: 300px;
  transition: 3s;
}
.homeimdhover img:hover{
  background: var(--second-bg-colour);
  opacity: .10;
}

/* <!-- About section design --> */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}

.heading{
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;

}
span{
  color: var(--main-colour);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 100%;
  height: 98%;
  border-radius: 50%;
  border: .2rem solid var(--main-colour);
}

.about-img .circle-spine{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-colour);
  border-bottom: .2rem solid var(--second-bg-colour);
  border-left: .2rem solid var(--main-colour);
  border-right: .2rem solid var(--main-colour);
}
.about-contect {
  text-align: center;
}
.about-contect h3 {
  font-size: 2.6rem;
}

.about-contect p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns{
  display: inline-block;
  width: 15rem;
}
.btn-box.btns::before{
  color: var(--second-bg-colour);
}

/* <!-- $$$***** skill section *****$$$ --> */
.skills{
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-colour);
}

.skills .skills-row {
  display: flex;
  
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  gap: 5rem;
  left: 3rem;
  right: 3rem;

}
 .skills-row .skills-column{
   flex:  1 1 40rem; 
   /* width: 375px;  */
 } 
  


  .skills-column .title{
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content{
  position: relative;
  border: .2rem solid var(--main-colour);
  border-radius: 1rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;

}
.skills-box .skills-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-colour);
  z-index: -1;
  transition: .75s;
}
.skills-box .skills-content:hover::before{
  width: 100%;
}


.skills-content .progress{
  padding: 1rem 0;
}
.skills-content .progress h3{
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span {
  color: var(--text-colour);
}
.skills-content .progress .bar{
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-colour);
  padding: .5rem;
  margin: 1rem 0;
}
.skills-content .progress .bar span{
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-colour);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
  width: 88%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
  width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
  width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
  width: 72%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 0%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 0%;
}
/* <!-- %****contact section****% --> */
.contact{
  min-height: auto;
  padding-bottom: 7rem;
  padding-left: 33rem;
  padding-right: 33rem;
}
.contact form{
  min-width: 50rem;
  margin: 0 auto;
 text-align: center;
}
.contact form .input-box{
  position:relative;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  /* height: 100%; */
  padding: .6rem;
  font-size: 1.6rem;
  color: var(--text-colour);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-colour);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
  color: var(--text-colour);
}
.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-bg-colour);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
  width: 100%;
}
.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}
.contact form .textarea-field textarea{
  resize: none;
}
.contact form .btn-box.btns .btn{
  cursor: pointer;
}
/* <!-- <footer section design> --> */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-colour);
}
.footer-iconTop a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-colour);
  border: .2rem solid var(--main-colour);
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-colour);
  z-index: -1;
  transition: .5s;
}
.footer-iconTop a:hover:before{
  width: 100%;
}
.footer-iconTop a i{
  font-size: 2.2rem;
  color: var(--bg-colour);
}




/* responsebal */
@media (max-brith:1200px){
  html{
    font-size: 55%;
  }
}
@media (max-brith:991px){
  .header{
    padding: 2rem 4%;
  }
  section{
    padding: 10rem 4% 2rem;
  }
  .home{
    padding: 0 4%;
  }
  .footer{
    padding: 2rem 4%;
  }
}
@media (max-brith:768px)
  {
   .header{
    background: var(--bg-colour);
   }
   #menu-icon{
    display: block;
   }
   .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-colour);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
   }
   .navbar a{
    display: block;
    font-size: 2rem;
    margin: 2rem 0;
   }
  }
